/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7c5cbf;
  --ifm-color-primary-dark: #6c4ab3;
  --ifm-color-primary-darker: #6444aa;
  --ifm-color-primary-darkest: #52378c;
  --ifm-color-primary-light: #8c6ecb;
  --ifm-color-primary-lighter: #9478cf;
  --ifm-color-primary-lightest: #ac96db;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9b7fd4;
  --ifm-color-primary-dark: #8d6dcc;
  --ifm-color-primary-darker: #8664c8;
  --ifm-color-primary-darkest: #7050b5;
  --ifm-color-primary-light: #a991dc;
  --ifm-color-primary-lighter: #b09ae0;
  --ifm-color-primary-lightest: #c5b5e8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
